/* body {
  margin:0;
  
} */

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 400px;
  background-color: lightgray;
  padding: 20px;
  border-right: 1px solid gray;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: gray;
  text-decoration: none;
  margin-bottom: 5px;
}

.sidebar a:hover {
  color:black;
  height:auto;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.section {
  padding: 20px 0;
}

.section h2 {
  margin-top: 0;
  color: black;
  font-size: 24px;
  /* transition: background-color 0.3s, color 0.3s; */
}

.section:target h2 {
  background-color: lightblue;
  color: darkblue;
  font-weight: bold;
  border-left: 5px solid navy;
  padding-left: 10px;
}
